* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;

}

body {
  background-color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
  box-shadow: 0 0.3rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  background-color: #78c7ff;
}

.container {
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.foto-cabecalho {
  max-width: 100px;
}

.menu {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}

a {
  text-decoration: none;
}

.menu button {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.13);
  padding: 0.5rem;
  background-color: #79c7ff;
  font-size: 1rem;
}

.menu2 {
  list-style: none;
  display: none;
}

.menu a:link {}

.menu a:visited {}

.menu button:hover {
  color: red;
}

.menu a:active {}

/*Seção Início*/

.secao {
  border: solid;
  border-radius: 2rem;
  min-width: 35rem;
  max-width: 75%;
  margin: 3rem auto;
  padding: 3rem;
 /* background-color: #2eb2ff;*/
  background-image: linear-gradient(to bottom, #2eb2ff, #78ffef);
  box-shadow: 0 0 0.5rem 0.4rem rgba(68, 113, 145, 0.23);
}

h1 {
  text-align: center;
  font-size: 3.2rem;
}

h2, h3 {
  font-size: 2.4rem;
}

p, em, strong {
  font-size: 1.6rem;
}

.secao h1, .secao h2, .secao p {
  margin-bottom: 1rem;
}